<footer>
    <div class="footer-container">
      <div class="footer-col">
        <img src="https://github.com/Mohsiinee/istabmprototype/blob/main/images/logo.png?raw=true" alt="Logo">
      </div>
      <div class="footer-col">
        <h3>Programmes</h3>
        <ul>
          <li>Technicien spécialisé</li>
          <li>Technicien</li>
          <li>Spécialisation</li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>Admission</h3>
        <p>En savoir plus sur le processus d'admission pour nos programmes.</p>
      </div>
      <div class="footer-col">
        <h3>Contact</h3>
        <ul>
          <li>Adresse: Bd. 20 Août B.P. 142 route Fquih Ben Salah 23000 Beni Mellal</li>
          <li>Telephone: 05234-83963</li>
          <li>E-mail: info@istabm.com</li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>
        <span>© 2023 ISTA Beni Mellal</span><span>-</span><span>Developpeur: TEI 101 groupe 4</span>
      </p>
    </div>
</footer>